<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trailer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Display"></activity>
        <activity android:name=".TrailerPage" />
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".GenreActivity"></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".LoggedInActivity"></activity>
        <activity android:name=".TopRatedMovieActivity"></activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9418172952040999~3447496355" />

        <provider
            android:name=".Content"
            android:authorities="com.example.trailer.Content"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.example.attendance.recordProvider.permRead"
            android:writePermission="com.example.attendance.recordProvider.permWrite" />
    </application>

    <permission
        android:name="com.example.attendance.recordProvider.permRead"
        android:authorities="com.example.recordProvider"
        android:exported="true"
        android:protectionLevel="signature" />
    <permission
        android:name="com.example.attendance.recordProvider.permWrite"
        android:authorities="com.example.recordProvider"
        android:exported="true"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>